<div id="<%= dom_id tenant %>">

  <div>
    <strong>Name:</strong>
    <%= tenant.name %>
  </div>

  <div>
    <strong>Mailing address:</strong>
    <%= tenant.mailing_address %>
  </div>

  <div>
    <strong>Phone number:</strong>
    <%= tenant.phone_number %>
  </div>

  <div>
    <strong>Email address:</strong>
    <%= tenant.email_address %>
  </div>

</div>
