<%= form_with(model: rent_payment) do |form| %>
  <% if rent_payment.errors.any? %>
    <div class="alert alert-error shadow-lg mb-6 text-error-content"><div>
      <h3 class="font-bold"><%= pluralize(rent_payment.errors.count, "error") %> prohibited this rent_payment from being saved:</h3>

      <ul>
        <% rent_payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control w-full mb-4">
    <%= form.label :scheduled_rent_id, class: "label font-semibold" %>
    <%= form.collection_select :scheduled_rent_id, ScheduledRent.all, :id, :display_name, {}, { class: "select select-bordered w-full" } %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :payment_date, class: "label font-semibold" %>
    <%= form.date_field :payment_date, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :amount, class: "label font-semibold" %>
    <%= form.text_field :amount, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :payment_method, class: "label font-semibold" %>
    <%= form.text_field :payment_method, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :transaction_number, "Transaction # (Zelle, Venmo, etc.)", class: "label font-semibold" %>
    <%= form.text_field :transaction_number, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary w-full mt-4" %>
  </div>
<% end %>
