<div id="<%= dom_id rent_payment %>">
  <div>
    <strong>Scheduled rent:</strong>
    <%= rent_payment.scheduled_rent_id %>
  </div>

  <div>
    <strong>Payment date:</strong>
    <%= rent_payment.payment_date %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= rent_payment.amount %>
  </div>

  <div>
    <strong>Payment method:</strong>
    <%= rent_payment.payment_method %>
  </div>

</div>
