<tr id="<%= dom_id rent_payment %>">
  <td>
    <div class="font-medium text-sm"><%= rent_payment.scheduled_rent.display_name %></div>
    <div class="text-xs text-base-content/60">ID: <%= rent_payment.scheduled_rent_id %></div>
  </td>
  <td><%= rent_payment.payment_date %></td>
  <td class="font-mono"><%= number_to_currency(rent_payment.amount) %></td>
  <td><span class="badge badge-ghost"><%= rent_payment.payment_method %></span></td>
  <td class="text-xs"><%= rent_payment.transaction_number %></td>
  <td class="text-right">
    <%= link_to "View", rent_payment, class: "btn btn-xs btn-ghost" %>
  </td>
</tr>
