<%= form_with(model: rental_property) do |form| %>
  <% if rental_property.errors.any? %>
    <div class="alert alert-error shadow-lg mb-6 text-error-content"><div>
      <h3 class="font-bold"><%= pluralize(rental_property.errors.count, "error") %> prohibited this rental_property from being saved:</h3>

      <ul>
        <% rental_property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-control w-full mb-4">
    <%= form.label :address, class: "label font-semibold" %>
    <%= form.text_field :address, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :property_type, class: "label font-semibold" %>
    <%= form.select :property_type, RentalProperty.property_types.keys.map { |k| [k.titleize, k] }, {}, { class: "select select-bordered w-full" } %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :square_footage, class: "label font-semibold" %>
    <%= form.number_field :square_footage, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary w-full mt-4" %>
  </div>
<% end %>
