<%= form_with(model: scheduled_rent) do |form| %>
  <% if scheduled_rent.errors.any? %>
    <div class="alert alert-error shadow-lg mb-6 text-error-content"><div>
      <h3 class="font-bold"><%= pluralize(scheduled_rent.errors.count, "error") %> prohibited this scheduled_rent from being saved:</h3>

      <ul>
        <% scheduled_rent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control w-full mb-4">
    <%= form.label :lease_id, class: "label font-semibold" %>
    <%= form.text_field :lease_id, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :expected_amount, class: "label font-semibold" %>
    <%= form.text_field :expected_amount, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :expected_due_date, class: "label font-semibold" %>
    <%= form.date_field :expected_due_date, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary w-full mt-4" %>
  </div>
<% end %>
