<%= form_with(model: utility_payment) do |form| %>
  <% if utility_payment.errors.any? %>
    <div class="alert alert-error shadow-lg mb-6 text-error-content"><div>
      <h3 class="font-bold"><%= pluralize(utility_payment.errors.count, "error") %> prohibited this utility_payment from being saved:</h3>

      <ul>
        <% utility_payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control w-full mb-4">
    <%= form.label :tenant_id, class: "label font-semibold" %>
    <%= form.collection_select :tenant_id, Tenant.all, :id, :name, {}, { class: "select select-bordered w-full" } %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :rental_property_id, class: "label font-semibold" %>
    <%= form.collection_select :rental_property_id, RentalProperty.all, :id, :address, {}, { class: "select select-bordered w-full" } %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :amount, class: "label font-semibold" %>
    <%= form.text_field :amount, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full mb-4">
    <%= form.label :payment_date, class: "label font-semibold" %>
    <%= form.date_field :payment_date, class: "input input-bordered w-full" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary w-full mt-4" %>
  </div>
<% end %>
