<div id="<%= dom_id utility_payment %>">
  <div>
    <strong>Tenant:</strong>
    <%= utility_payment.tenant_id %>
  </div>

  <div>
    <strong>Rental property:</strong>
    <%= utility_payment.rental_property_id %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= utility_payment.amount %>
  </div>

  <div>
    <strong>Payment date:</strong>
    <%= utility_payment.payment_date %>
  </div>

</div>
