<tr id="<%= dom_id utility_payment %>">
  <td class="font-medium">
    <div><%= utility_payment.lease.rental_property.address %></div>
    <div class="text-xs text-base-content/60"><%= utility_payment.lease.tenants.pluck(:name).join(', ') %></div>
  </td>
  <td class="font-mono"><%= number_to_currency(utility_payment.amount) %></td>
  <td><%= utility_payment.payment_date %></td>
  <td><span class="badge badge-ghost"><%= utility_payment.payment_method %></span></td>
  <td class="text-xs font-mono"><%= utility_payment.transaction_number %></td>
  <td class="text-right">
    <%= link_to "View", utility_payment, class: "btn btn-xs btn-ghost" %>
  </td>
</tr>
