<p style="color: green"><%= notice %></p>

<%= render @utility_payment %>

<div>
  <%= link_to "Edit this utility payment", edit_utility_payment_path(@utility_payment) %> |
  <%= link_to "Back to utility payments", utility_payments_path %>

  <%= button_to "Destroy this utility payment", @utility_payment, method: :delete %>
</div>
