<tr id="<%= dom_id lease %>">
  <td class="font-medium">
    <div><%= lease.rental_property.address %></div>
    <div class="text-xs text-base-content/60"><%= lease.tenants.pluck(:name).join(', ') %></div>
  </td>
  <td><span class="badge badge-ghost"><%= lease.lease_type&.humanize %></span></td>
  <td><%= lease.commencement_date %></td>
  <td><%= lease.termination_date || 'N/A' %></td>
  <td class="font-mono"><%= number_to_currency(lease.annual_rental_amount) %></td>
  <td class="text-right">
    <%= link_to "View", lease, class: "btn btn-xs btn-ghost" %>
  </td>
</tr>
