<div id="<%= dom_id lease %>">
  <div>
    <strong>Rental property:</strong>
    <%= lease.rental_property_id %>
  </div>

  <div>
    <strong>Lease type:</strong>
    <%= lease.lease_type %>
  </div>

  <div>
    <strong>Commencement date:</strong>
    <%= lease.commencement_date %>
  </div>

  <div>
    <strong>Termination date:</strong>
    <%= lease.termination_date %>
  </div>

  <div>
    <strong>Annual rental amount:</strong>
    <%= lease.annual_rental_amount %>
  </div>

  <div>
    <strong>Late period days:</strong>
    <%= lease.late_period_days %>
  </div>

</div>
